@import url("//cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/lxgwwenkai-regular/result.css?v=1");

main {
    color-scheme: light dark;
    --color-canvas-default: light-dark(#fdf6e3, #002b36); /*整体背景*/
    --color-border-default: #46abf2; /*评论区边框*/
    --color-box-border-info: #46abf2; /*回复区边框*/
    --color-btn-primary-hover-bg: light-dark(#eee8d5, #073642); /*按钮悬停背景*/
    --color-text-primary: light-dark(#657b83, #839496); /*文字颜色，深色模式颜色不变*/
    --color-prettylights-syntax-comment: #60a0b0;
    --color-prettylights-syntax-constant: #880000;
    --color-prettylights-syntax-entity: #7d9029;
    --color-prettylights-syntax-keyword: #007020;
    --color-prettylights-syntax-string: #4070a0;
    --color-prettylights-syntax-variable: #19177c;
    --color-prettylights-syntax-brackethighlighter-unmatched: #ff0000;
    --color-prettylights-syntax-invalid-illegal-text: #ff0000;
    --color-prettylights-syntax-string-regexp: #4070a0;
}

:host, html {
    --font-family-sans: "LXGW WenKai", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    --font-family-monospace: Consolas, "Liberation Mono", "Courier New", "LXGW WenKai", monospace;
}
